/*99d98c*/
html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
label {
    font-weight:bold;
    margin-right:10px;
}
.table {
    display:table;
    text-align:center;
    width:100%;
    height:100%;
    table-layout:fixed;
}
.cell {
    display:table-cell;
    vertical-align:middle;
}
form {
    display:inline-block;
    border:8px solid black;
    width: 450px;
    padding:50px 0;
    background: blue;
}
input {
    margin-bottom:15px;
}